* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.topnav{
    position: fixed;
    overflow: hidden;
    background-color: rgb(123, 204, 207);
    width: 100%;
}

.topnav a{
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    float: left;
    text-align: center;
}
    
.topnav #logo{
    font-size: 25px;
    padding-right: 2.5%;
    padding-left: 3%;
}

#logo:hover {
    transform: rotate(-2deg);
}

.dropdown{
    float: left;
    overflow: hidden;
    padding-top: 5px;
}

.dropdown .dropbut {
    font-size: 18px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    padding-bottom: 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbut:hover{
    color: aliceblue;
    cursor: pointer;
}

.dropcont {
    border-radius: 10px;
    display: none;
    position: fixed;
    background-color: rgb(240, 255, 248);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcont a {
    border-radius: 10px;
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropcont a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropcont {
    display: block;
}

.topnav .ic{
    float: right;
    padding-top: 16px;
    padding-right: 5%;
}

.topnav .ic a{
    padding: 0px 10px;
}

.topnav .ic i:hover{
    cursor: pointer;
    font-size: 105%;
    color: aliceblue;
}

.botnav{
    height: auto;
    background-color: rgb(123, 204, 207);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.botnav .maindiv {
    float: left;
    margin: 30px;
}

.botnav .maindiv div{
    float: left;
}

.botnav div p{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.botnav div a{
    display: list-item;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
}

#logo2{
    margin-right: 30px;
}

@media only screen and (max-width: 600px) {
    .botnav {
        flex-direction: column;
    }

    .botnav .maindiv {
        margin: 15px;
    }
}

.icb {
    margin-right: 5px;
}

#contact{
    margin-right: 50px;
}
